/*侧边css*/
.sidebar{
  position: fixed;/*固定位置*/
  left: 0;
  bottom: 0;
  top: 55px;

  background-color: white;
  width: 72px;
  z-index: 200;/*层级-不被遮盖*/
  padding-top: 5px;
}

.sidebar-link{
  height: 74px;
  display: flex;/*弹性盒子*/
  justify-content: center;/*盒子居中*/
  align-items: center;/*盒子里元素居中*/
  flex-direction: column;/*弹性方向竖向*/
  cursor: pointer;/*鼠标样式*/
}

.sidebar-link:hover{
  background-color: rgb(235, 235, 235);
}

.sidebar-link img{
  height: 24px;
  margin-bottom: 4px;
}

.sidebar-link div{
  font-size: 10px;/*字体大小*/
}